@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background: linear-gradient(to top, #05AFF2, #033E8C);
    }
    
    section {
        width: 769.6px;
        height: 280px;
    }

    div#image {
        width: 230.875px;
        height: 280px;
        border-radius: 20px 0px 0px 20px;
    }

    div#form {
        width: 538.725px;
        height: 280px;
        float: right;
        border-radius: 0px 20px 20px 0px;

        position: relative;
        top: -100%;
    }

    div#form > h1 {
        padding: 10px;
    }
    

    div#form > p {
        text-align: left;
        padding: 10px;
    }

    div#form-email {
        width: 528px;
    }
    div#form-senha {
        width: 528px;
    }

    input.sendInfo {
        left: 54%;
        width: 468px;
    }

    button.btn {
        width: 528px;
    }
    button#enter {
        margin-top: -19px;
    }
}